html, body{
	height: 100%;
}
body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#canvas{
	width:100% !important;
}
#minSec {
	width: 120px;
	height:50px;
	border-radius:5px;
	outline: none;
	cursor:pointer;
}
@media screen and (min-width: 600px) {
	#canvas{
		width:350px !important;
	}
}
